# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, '\t')

In [4]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = df

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
# Solution 2
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [13]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [23]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [15]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [21]:
quantity = chipo.groupby(['item_name']).agg({'quantity':'sum'})
quantity.sort_values('quantity', ascending = False)[:5]

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [24]:
c = chipo.groupby('item_name')
c = c.sum()

In [27]:
c = c.sort_values('quantity', ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [30]:
c = chipo.groupby(['item_name'])

In [33]:
c = c.agg({'quantity':'sum'}).sort_values('quantity', ascending=False)
c.head(1)

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [35]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values('quantity', ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [37]:
sum = chipo.quantity.sum()
sum

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [38]:
chipo.item_price.dtype

dtype('O')

In [43]:
chipo.item_price.str.slice(1).astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [47]:
f = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(f)

In [49]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [50]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [52]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [58]:
order = chipo.order_id.value_counts().count()
order

1834

### Step 16. What is the average revenue amount per order?

In [66]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [67]:
# Solution 2

chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [68]:
total_sold = chipo.quantity.sum()

In [69]:
total_sold

4972

In [73]:
different_items_sold = chipo.item_name.value_counts().count()
different_items_sold

50